*{
    margin: 0;
    padding: 0;
}
.h1{
    color: gray;
    background-color: red;
}
.box{
    width: 800px;
    height: 400px;
    background-color: black;
    position: relative;
}
h1{
    text-align: center;
    position: absolute;
    color: aqua;
    font-size: 45px;
    
}
h2{
    text-align: center;
    position: absolute;
    margin-top: 20px;
    color: brown;
}